@use "_color.scss" as *;
@use "_size.scss" as *;
@use "_animations.scss" as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: "Roboto", sans-serif;
}

//NAVIGATION
.nav {
	position: sticky;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 10vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	align-items: center;
	justify-content: center;
	background-color: $darker-bg;
	z-index: 100;

	ul {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $darker-bg;
		align-items: center;
		list-style-type: none;
		transform: translateX(-100%);
		transition: transform 0.3s;
		li {
			margin-bottom: 3em;
		}
		z-index: -1;
	}
	&__link {
		position: relative;
		display: flex;
		justify-content: center;
		align-items: center;
		font-size: $large-text;
		text-decoration: none;
		color: white;
		cursor: pointer;

		&::before {
			content: "";
			position: absolute;
			bottom: -2px;
			left: 0;
			background-color: $main-color;
			width: 100%;
			height: 2px;
			transform: scale(0);
			transition: transform 0.3s;
		}
		&:hover {
			&::before {
				transform: scale(1);
			}
		}
		&:focus {
			&::before {
				transform: scale(1);
			}
		}
	}
	h1 {
		justify-self: center;
		text-transform: uppercase;
	}
	&__heading {
		text-decoration: none;
		color: white;
		font-size: 1.8rem;
	}
	.hamburger {
		display: flex;
		justify-content: flex-end;
	}

	.active {
		transform: translateX(0);
	}
}

// Header
.header {
	position: relative;
	min-height: 90vh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	background-image: url("../../dist/img/bg-small.jpg");
	background-position: center;
	background-size: cover;

	&__wrapper {
		display: flex;
		max-width: 320px;
		flex-direction: column;
		grid-column: 1/3;
		grid-row: 1/3;
		justify-content: center;
		justify-self: center;
		align-items: center;
	}
	&__heading {
		font-size: $small;
		text-transform: uppercase;
	}
	&__text {
		font-size: $small-text + 0.1rem;
		font-weight: lighter;
		text-align: center;
		margin-bottom: 1.2em;
	}

	&__heading,
	&__text,
	a {
		color: white;
		z-index: 10;
	}
	&__shadow-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.8);
		z-index: 2;
	}
	&__arrow {
		grid-column: 1/3;
		grid-row: 2/3;
		justify-self: center;
		align-self: end;
	}
	&__icon-chevron {
		margin-bottom: 1em;
		animation: bounceing 1s ease-out 0s infinite both;
		z-index: 3;
	}
}

//Components
.site-btn {
	color: white;
	text-decoration: none;
	text-transform: uppercase;
	font-size: $small-text + 0.2rem;
	font-weight: bold;
	background-color: $main-color;
	padding: 0.7em 2em;
	border-radius: 60px;
}
